.footer2 {
      background: #a82d49;
}

footer {
      background: #43121d;
      padding: 80px 0 0;
}

.footerP a {
      color: #fff !important;
      padding: 0 30px 0 0;
      text-decoration: none;
}

.footer2 .footer-social {
      padding-left: 0;
      margin-top: -20px;
}

.footer2 .footer-social svg {
      font-size: 25px;
      margin-right: 10px;
      margin-left: 4px;
      margin-top: 30px;
      color: #fff;
}

.footer-copy {
      background: #a82d49;
      padding-bottom: 50px;
      text-align: center;
      color: #fff;
      font-size: 13px;
      letter-spacing: 0.2px;
}